@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}


.landing-wrapper {
    height: 100%;
    margin-top: 0;
    .split {
        height: 100%;
        width: 50%;
        position: fixed;
    }
}

.left {
    left: 0;
}
.right {
    background-color: #4ed34e;
    right: 0;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

p {
    &.signin-landing {
        margin-bottom: 20px;
        font-size: 25px;
        text-align: left;
        color: #4ed34e;
    }
    &.signup-landing {
        margin-bottom: 20px;
        font-size: 25px;
        text-align: left;
        color: #fff;
    }
}

.link-signup {
    font-size: 25px;
    float: left;
    color: #fff;
    transition: .3s;

    &:hover {
        color: #259625;
    }
}