.form-block {
    position: absolute;
    top: 20%;
    left: 40%;
}
.inputblock {
    margin-top: 15px;
}

.inputtext {
    transition: .3s;
    width: 350px;
    &:focus {
        border-bottom-color: #4ed34e;
    }
}

input {
    display: block;
}

label {
    font-size: 13px;
}
.btn-submit {
    border: solid 1px black;
    float: left;
    text-align: center;
    margin-top: 30px;
    height: 38px;
    width: 90px;
    border-radius: 8px;
    font-size: 15px;
    transition: .3s;
    text-decoration: none;

    &:hover {
        background-color: #4ed34e;
        color: #fff;
        border: none;
    }
}
